.pad {
  position: relative;
  width: 120px;
  height: 120px;
  background-color: #b7b7b7;
  border-radius: 50%;
  box-shadow:
    inset 0 0 1px rgba(120, 120, 120, .6),
    inset 0 2px 2px rgba(0, 0, 0, .1),
    0 2px 2px rgba(240, 240, 240, .4);

  .control {
    position: absolute;
    width: 30px;
    height: 30px;
    background: #636363;
    box-shadow:
      0 0 0 2px rgba(0, 0, 0, .6),
      0 0 0 3px rgba(60, 60, 60, .2),
      0 0 0 4px rgba(60, 60, 60, .2);
    border-radius: 2px;
  }

  .top {
    top: 15px;
    left: 50%;
    margin: 0 0 0 -15px;
  }

  .left {
    top: 45px;
    left: 15px;
  }

  .right {
    top: 45px;
    right: 15px;
  }

  .control.right:before {
  	transform: rotate(90deg) translate(-3px, -5px);
  }

  .bottom {
    bottom: 15px;
    left: 50%;
    margin: 0 0 0 -15px;
  }

  .middle {
    top: 43px;
    left: 50%;
    width: 30px + 4;
    height: 30px + 4;
    z-index: 5;
    margin: 0 0 0 -17px;
    box-shadow: none;
    border-radius: 3px;

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 70%;
      height: 70%;
      margin: -35% 0 0 -35%;
      background: #636363;
      border-radius: 100%;
      box-shadow:
        inset 0 0 2px rgba(120, 120, 120, .6),
        inset 0 2px 8px rgba(0, 0, 0, .1),
        0 2px 2px rgba(240, 240, 240, .2);
    }
  }
}

.arrow {
  position: absolute;
  top: 14px;
  left: 4.5px;
  width: 21px;
  height: 10px;
  z-index: 20;
  background: #5e5e5e;
  border-radius: 4px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  transform: scale(1.05, 1);
  transform-origin: 50% 10%;
  box-shadow: 0 1px 1px rgba(240, 240, 240, .25);

  &:before {
    content: '';
    position: absolute;
    top: -4px;
    left: 4px;
    width: 20px;
    height: 7px;
    z-index: -1;
    background: #5e5e5e;
    border-radius: 4px;
    transform: rotate(60deg);
    box-shadow: 0 -1px 2px rgba(0, 0, 0, .2);
  }

  &:after {
    content: '';
    position: absolute;
    top: -4px;
    left: -3px;
    width: 20px;
    height: 7px;
    z-index: -1;
    background: #5e5e5e;
    border-radius: 4px;
    transform: rotate(-60deg);
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .05);
  }

  .pad .left & {
    transform: scale(1.15, 1.1) rotate(-90deg);
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .05);
  }

  .pad .left &:after {
    box-shadow: 0 -1px 1px rgba(240, 240, 240, .25);
  }

  .pad .left &:before {
    box-shadow: 0 -1px 2px rgba(0, 0, 0, .2);
  }

  .pad .right & {
    transform: scale(1.15, 1.1) rotate(90deg);
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .05);
  }

  .pad .right &:after {
    box-shadow: 0 -1px 1px rgba(0, 0, 0, .2);
  }

  .pad .right &:before {
    box-shadow: 0 -1px 1px rgba(240, 240, 240, .25);
  }

  .pad .bottom & {
    transform: scale(1.15, 1.1) rotate(180deg);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  }

  .pad .bottom &:after {
    box-shadow: 1px -1px 1px rgba(0, 0, 0, .2);
  }

  .pad .bottom &:before {
    box-shadow: -1px -1px 1px rgba(240, 240, 240, .25);
  }
}
